@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

@font-face {
  font-family: Norse-Bold;
  src: url(../font/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
label {
  color: white;
}

h1 {
  font-family: 'Norse-Bold', sans-serif;
  font-size: 4rem;
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  height: 4rem;
  width: auto;
  margin: 0 8px;
}

#new-book {
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 32px;
  margin: 8px;
}

#library {
  width: 30vw;
  border: 2px white solid;
}

#library ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book,
#column-headers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  align-items: center;
  justify-items: center;
}
